<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->
<!--  <link rel="stylesheet" href="/repos/assets/css/style.css?v=e1b9e6e6e78b6973d1e88d92679134e106bf2a62"> -->
<link rel="stylesheet" href="{{ 'stylesheets/styles.css' | relative_url }}">
<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<link rel="shortcut icon" type="image/x-icon"
    href="{{ 'ico/favicon.ico' | relative_url }}">
<!-- end custom head snippets -->